{# templates/Capture/showCapture.html.twig #}

{% extends "layout.html.twig" %}

{% block title %} Répertoire {% endblock %}
{% block body %}
	<h1>Répertoire</h1>
	<section>
		<p><a href="/repertoire/">ALL</a> | <a href="/repertoire/a">A</a> | <a href="/repertoire/b">B</a> | <a href="/repertoire/c">C</a> | <a href="/repertoire/d">D</a> | <a href="/repertoire/e">E</a> | <a href="/repertoire/f">F</a> | <a href="/repertoire/g">G</a> | <a href="/repertoire/h">H</a> | <a href="/repertoire/i">I</a> | <a href="/repertoire/j">J</a> | <a href="/repertoire/k">K</a> | <a href="/repertoire/l">L</a> | <a href="/repertoire/m">M</a> | <a href="/repertoire/n">N</a> | <a href="/repertoire/o">O</a> | <a href="/repertoire/p">P</a> | <a href="/repertoire/q">Q</a> | <a href="/repertoire/r">R</a> | <a href="/repertoire/S">S</a> | <a href="/repertoire/t">T</a> | <a href="/repertoire/u">U</a> | <a href="/repertoire/v">V</a> | <a href="/repertoire/w">W</a> | <a href="/repertoire/x">X</a> | <a href="/repertoire/y">Y</a> | <a href="/repertoire/z">Z</a> | </p>
	</section>
	{% for bird in birds %}
		<p>{{ bird.image }}</p>
		<p>{{ bird.vernacularname }}</p>
	{% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
   
