{% extends "base.html.twig" %}

{% block body %}
    <h1>Un email de récupération de votre mot de passe vous a été envoyé !</h1>

    <a href="{{ path('password_reinitialisation') }}">Accéder à la page de réinitialisation</a>
{% endblock %}