{% extends "base.html.twig" %}

{% block body %}
    <h1>Lost password</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Envoyer l'email de récupération</button>
    {{ form_end(form) }}
{% endblock %}