{% extends "base_email.html.twig" %}
{% block email_subject %}Mot de passe changé{% endblock %}
{% block email_style %}
    <link rel="stylesheet" href="{{ absolute_url(asset('css/email/activation_compte.css')) }}">
{% endblock %}
{% block email_body %}
    <div class="row center">
        <h2>Vous venez de changer votre mot de passe !</h2>
        <p class="darken-1">Si vous n'êtes pas à l'origine de cette action, veuillez immédiatement suivre ce lien afin de réinitialiser votre mot de passe.</p>
    </div>
    <div class="row center">
        <a href="http://localhost:8000/lost-password" target="_blank" id="download-button" class="btn-large waves-effect waves-light green">Ce n'était pas moi !</a>
    </div>
{% endblock %}