<li><a href="{{ path('index') }}">Accueil</a></li>
<li><a href="{{ path('repertoire') }}">Répertoire</a></li>
<li><a href="{{ path('statistics') }}">Quelques données</a></li>
<li><a href="{{ path('contact') }}">Contact</a></li>